<mat-sidenav-container fullscreen autosize>

  <mat-sidenav #sidenav style="background-color:#0F3756;" mode="side" class="example-sidenav"
    [ngStyle]="{ 'width.em': sidenavWidth }" opened="true">
    <mat-nav-list>
      <mat-list-item style="height: 64px;">
        <mat-icon class="navbar-btn " style="background-color: transparent; color: white;" (click)="increase()">menu
        </mat-icon>
      </mat-list-item>
      <div>
        <mat-list-item class="mat" style="height: 64px;" [ngClass]=" (flag=='Ar') ? 'primary' : 'secondary'"
          (click)="activeTab('Ar')">
          <mat-icon [ngClass]=" (flag=='Ar') ? 'Icon' : 'secondary'">home</mat-icon>&nbsp;&nbsp; <span
            style="font-size: 24px;" *ngIf="sidenavWidth > 6"
            [ngClass]=" (flag=='Ar') ? 'font' : 'secondary'">Dashboard</span>
        </mat-list-item>
        <mat-list-item style="height: 64px; " [ngClass]=" (flag=='Kc') ? 'primary' : 'secondary'"
          (click)="activeTab('Kc')">
          <mat-icon [ngClass]=" (flag=='Kc') ? 'Icon' : 'secondary'"> directions_walk</mat-icon> &nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Kc') ? 'font' : 'secondary'">Revenue</span>
        </mat-list-item>
        <mat-list-item style="height: 64px;" [ngClass]=" (flag=='Ts') ? 'primary' : 'secondary'"
          (click)="activeTab('Ts')">
          <mat-icon [ngClass]=" (flag=='Ts') ? 'Icon' : 'secondary'">flight_takeoff</mat-icon>&nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Ts') ? 'font' : 'secondary'">Key Coustomers</span>
        </mat-list-item>
        <mat-list-item style="height: 64px;" [ngClass]=" (flag=='Ss') ? 'primary' : 'secondary'"
          (click)="activeTab('Ss')">
          <mat-icon [ngClass]=" (flag=='Ss') ? 'Icon' : 'secondary'">flight_land</mat-icon>&nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Ss') ? 'font' : 'secondary'">Top Selleing Items </span>
        </mat-list-item>
        <mat-list-item style="height: 64px;" [ngClass]=" (flag=='Is') ? 'primary' : 'secondary'"
          (click)="activeTab('Is')">
          <mat-icon [ngClass]=" (flag=='Is') ? 'Icon' : 'secondary'">folder</mat-icon>&nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Is') ? 'font' : 'secondary'">Inventory Status</span>
        </mat-list-item>
        <!-- <mat-list-item style="height: 64px;" [ngClass]=" (flag=='FF') ? 'primary' : 'secondary'" (click)="activeTab('FF')">
        <mat-icon [ngClass]=" (flag=='FF') ? 'Icon' : 'secondary'">brightness_medium</mat-icon>&nbsp;&nbsp; <span  *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='FF') ? 'font' : 'secondary'">Full Filment Status</span>
      </mat-list-item > -->
      </div>
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>



  </mat-sidenav>

  <mat-toolbar class="main-sec">
    <mat-toolbar-row class="header">
      <img class="logo" src="../assets/images/logo.png">
      <span class="example-spacer"></span>
      <div id="topnav">
        <ul class="items">
          <li>TEAM</li>
          <li>REPORTS</li>
          <li>HELP</li>
         
        </ul>
      </div>
      <!-- <div id="txt-al">
        <ul class="items">
          
          <li>
            <mat-icon>chat_bubble_outline</mat-icon>
          </li>
          <li>
            <mat-icon>notifications_none</mat-icon>
          </li>
          <li>
            <mat-icon>
              account_circle
              </mat-icon>
          </li>
        </ul>
      </div> -->

    </mat-toolbar-row>

  </mat-toolbar>

  <div style="margin-top: 20px; " >
    <app-kpos></app-kpos>
  </div>
  <div style="margin-top: 20px;" class="container-fluid">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <div class="col-12">
              <mat-card>

                <div class="row">
                  <h3 style="color: #0F3756; font-weight: 500;">Selected Criteria</h3>
                </div>

                <mat-divider></mat-divider>
                <h2>Main Taitle For The Visualisation</h2>
                <mat-divider></mat-divider>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-11">

                      <div id="stackedChart"  style="height: 600px; width: auto; display: block; overflow: auto;overflow-y: hidden;">

                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
            <div style="margin-top: 20px;" class="row">
              <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xs-12 col-sm-12">
                <mat-card>
                  <h2>Main Taitle For The Visualisation</h2>
                  <div id="lineChart2" style=" height: 550px;width: auto; display: block; overflow:auto ;">

                  </div>
                </mat-card>
              </div>
              <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xs-12 col-sm-12">
                <mat-card> 
                  <h2>Main Taitle For The Visualisation</h2>
                  <div id="InventoryChart" style=" height: 550px;width: auto; display: block; overflow: auto;">

                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-3 d-flex flex-row flex-nowrap overflow-auto">
     
        <mat-card style="height: 100%">
          <h3>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>filter_alt</mat-icon>
                  Dimensions
                </ng-template>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="mat-elevation-z0">

                    <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                      <mat-panel-title class="click-head">
                        <img class="mt-1 mx-2" style="height:max-content;"
                          src="../assets/images/filter_icons/Icon material-date-range.png" alt="">
                        Date&Time Filters
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <li class="filters1">
                      <ul class="submenu">
                        <li *ngFor="let menu of DateFilters; let i = index">
                          <input type="checkbox" class="mx-3 mb-3" value="Car">
                          <a>{{ menu.value }}</a>
                        </li>
                      </ul>
                    </li>
                  </mat-expansion-panel>

                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                      <mat-panel-title class="click-head">
                        <img class="mt-1 mx-2" style="height:max-content;"
                          src="../assets/images/filter_icons/Icon material-location-on.png" alt="">
                        Location Filters
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <li class="filters1">
                      <ul class="submenu">
                        <li *ngFor="let menu of locationFilters; let i = index">
                          <input type="checkbox" class="mx-3 mb-3" value="Car">
                          <a>{{ menu.value }}</a>
                        </li>
                      </ul>
                    </li>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="mat-elevation-z0">

                    <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                      <mat-panel-title class="click-head">
                        <img class="mt-1 mx-2" style="height:max-content;"
                          src="../assets/images/filter_icons/Icon material-date-range.png" alt="">
                        Date Range
                      </mat-panel-title>

                    </mat-expansion-panel-header>
                    <mat-form-field appearance="outline">
                      <mat-label>From Date</mat-label>

                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                      <mat-label>To Date</mat-label>

                      <input matInput [matDatepicker]="picker2">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>

                    </mat-form-field>
                  </mat-expansion-panel>

                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                      <mat-panel-title class="click-head">
                        <img class="mt-1 mx-2" style="height:max-content;"
                          src="../assets/images/filter_icons/Icon awesome-school.png" alt="">
                        Schools
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form class="example-form">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Search</mat-label>
                        <input type="text" placeholder="Schools List" aria-label="Number" matInput
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option>

                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                      <mat-panel-title class="click-head">
                        <img class="mt-1 mx-2" style="height:max-content;"
                          src="../assets/images/filter_icons/Icon feather-box.png" alt="">
                        Category Code
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field appearance="outline">
                      <mat-label>Products</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let Plist of ProductsList" [value]="Plist.value">
                          {{Plist.value}}

                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Product Type</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let Ptype of ProductType" [value]="Ptype.value">
                          {{Ptype.value}}

                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Items</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let PItem of ProductItems" [value]="PItem.value">
                          {{PItem.value}}

                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Gender</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let pGen of PGender" [value]="pGen.value">
                          {{pGen.value}}

                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- 
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Fullfillment status
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <li class="filters1">
                    <ul class="submenu">
                      <li *ngFor="let menu of FullfillmentArr; let i = index">
                        <input type="checkbox" class="mx-3 mb-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel> -->

                <!-- <mat-expansion-panel id="filters1" class="mat-elevation-z0 ">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Inventory status
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <li>
                    <ul class="submenu">
                      <li *ngFor="let menu of inventoryArr; let i = index">
                        <input type="checkbox" class="mx-3 mb-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel> -->
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-6 col-xs-6 mt-3 ">
                      <button mat-button class="btnA btn-outline-warnings mx-4">Clear </button>
                    </div>
                    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-6 mt-3">
                      <div><button mat-button class="btnA btn-mdb-color">Apply</button></div>
                    </div>


                  </div>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  Mesures
                </ng-template>
                Content 2
              </mat-tab>
            </mat-tab-group>
          </h3>


        </mat-card>
      </div>
  
    </div>

  </div>
</mat-sidenav-container>