<mat-sidenav-container fullscreen autosize>

  <mat-sidenav #sidenav style="background-color:#0F3756;" mode="side" class="example-sidenav"
    [ngStyle]="{ 'width.em': sidenavWidth }" opened="true">
    <mat-nav-list>
      <mat-list-item style="height: 64px;">
        <mat-icon class="navbar-btn " style="background-color: transparent; color: white;" (click)="increase()">menu
        </mat-icon>
      </mat-list-item>
      <div>
        <mat-list-item class="mat" style="height: 64px;" [ngClass]=" (flag=='Ar') ? 'primary' : 'secondary'"
          (click)="activeTab('Ar')">
          <mat-icon [ngClass]=" (flag=='Ar') ? 'Icon' : 'secondary'">home</mat-icon>&nbsp;&nbsp; <span
            style="font-size: 24px;" *ngIf="sidenavWidth > 6"
            [ngClass]=" (flag=='Ar') ? 'font' : 'secondary'">Dashboard</span>
        </mat-list-item>
        <mat-list-item style="height: 64px; " [ngClass]=" (flag=='Kc') ? 'primary' : 'secondary'"
          (click)="activeTab('Kc')">
          <mat-icon [ngClass]=" (flag=='Kc') ? 'Icon' : 'secondary'"> directions_walk</mat-icon> &nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Kc') ? 'font' : 'secondary'">Revenue</span>
        </mat-list-item>
        <mat-list-item style="height: 64px;" [ngClass]=" (flag=='Ts') ? 'primary' : 'secondary'"
          (click)="activeTab('Ts')">
          <mat-icon [ngClass]=" (flag=='Ts') ? 'Icon' : 'secondary'">flight_takeoff</mat-icon>&nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Ts') ? 'font' : 'secondary'">Key Coustomers</span>
        </mat-list-item>
        <mat-list-item style="height: 64px;" [ngClass]=" (flag=='Ss') ? 'primary' : 'secondary'"
          (click)="activeTab('Ss')">
          <mat-icon [ngClass]=" (flag=='Ss') ? 'Icon' : 'secondary'">flight_land</mat-icon>&nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Ss') ? 'font' : 'secondary'">Top Selleing Items </span>
        </mat-list-item>
        <mat-list-item style="height: 64px;" [ngClass]=" (flag=='Is') ? 'primary' : 'secondary'"
          (click)="activeTab('Is')">
          <mat-icon [ngClass]=" (flag=='Is') ? 'Icon' : 'secondary'">folder</mat-icon>&nbsp;&nbsp; <span
            *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='Is') ? 'font' : 'secondary'">Inventory Status</span>
        </mat-list-item>
        <!-- <mat-list-item style="height: 64px;" [ngClass]=" (flag=='FF') ? 'primary' : 'secondary'" (click)="activeTab('FF')">
        <mat-icon [ngClass]=" (flag=='FF') ? 'Icon' : 'secondary'">brightness_medium</mat-icon>&nbsp;&nbsp; <span  *ngIf="sidenavWidth > 6" [ngClass]=" (flag=='FF') ? 'font' : 'secondary'">Full Filment Status</span>
      </mat-list-item > -->
      </div>
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>



  </mat-sidenav>

  <mat-toolbar class="main-sec">
    <mat-toolbar-row class="header">
      <img class="logo" src="../assets/images/logo.png">
      <span class="example-spacer"></span>
      <div id="topnav">
        <ul class="items mx-5">
          <li>TEAM</li>
          <li>REPORTS</li>
          <li>HELP</li>
        </ul>
      </div>


    </mat-toolbar-row>

  </mat-toolbar>

  <div style="margin-top: 20px;" class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-2 col-sm-4 col-md-4 col-xs-12 ">
        
        <mat-card class="h-g">
        <div class="">
          <mat-card-title class="text-center"> ₹ 4,56789
          </mat-card-title>
         <div class="row mt-3">
           <div class="col-3">
          <mat-icon style="font-size: xxx-large;
          color: orange;">people_alt</mat-icon>
          </div>
          <div class="col-9 mt-3">
            <h3>Revenue</h3>
          </div>
         
        
        
          </div>
        </div>
        </mat-card>
        
      </div>
      <div class="col-12 col-lg-2 col-sm-4 col-md-4 col-xs-12">
        <mat-card class="h-g">
          <div class="">
            <mat-card-title class="text-center"> 234
            </mat-card-title>
           <div class="row mt-3">
             <div class="col-3">
            <mat-icon style="font-size: xxx-large;
            color: orange;">people_alt</mat-icon>
            </div>
            <div class="col-9 mt-3">
              <h3>Key Coustomers</h3>
            </div>
           
          
          
            </div>
          </div>
          </mat-card>
      </div>
      <div class="col-12 col-lg-2 col-sm-4 col-md-4 col-xs-12">
        <mat-card class="h-g">
          <div class="">
            <mat-card-title class="text-center"> 45
            </mat-card-title>
           <div class="row mt-3">
             <div class="col-3">
            <mat-icon style="font-size: xxx-large;
            color: green;">trending_up</mat-icon>
            </div>
            <div class="col-9 mt-3 ml-2">
              <h3>Top Selling Items</h3>
            </div>
           
          
          
            </div>
          </div>
          </mat-card>
      </div>
      <div class="col-12 col-lg-2 col-sm-4 col-md-4 col-xs-12">
        <mat-card class="h-g">
          <div class="">
            <mat-card-title class="text-center"> 45
            </mat-card-title>
           <div class="row mt-3">
             <div class="col-3">
            <mat-icon style="font-size: xxx-large;
            color: red;">trending_down</mat-icon>
            </div>
            <div class="col-9 mt-3 ml-2">
              <h3>Slow Selling Items</h3>
            </div>
           
          
          
            </div>
          </div>
          </mat-card>
      </div>
      <div class="col-12 col-lg-2 col-sm-4 col-md-4 col-xs-12">
        <mat-card class="h-g">
          <div class="">
            <mat-card-title class="text-center"> --
            </mat-card-title>
           <div class="row mt-3">
             <div class="col-3">
            <mat-icon style="font-size: xxx-large;
            color: green;"></mat-icon>
            </div>
            <div class="col-9 mt-3 ml-2">
              <h3>Inventory</h3>
            </div>
           
          
          
            </div>
          </div>
          </mat-card>
      </div>
      <div class="col-12 col-lg-2 col-sm-4 col-md-4 col-xs-12">
        <mat-card class="h-g">
          <div class="">
            <mat-card-title class="text-center"> --
            </mat-card-title>
           <div class="row mt-3">
             <div class="col-3">
            <mat-icon style="font-size: xxx-large;
            color: red;"></mat-icon>
            </div>
            <div class="col-9 mt-3 ml-2">
              <h3>Full Filment Status</h3>
            </div>
           
          
          
            </div>
          </div>
          </mat-card>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px;" class="container-fluid">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <div class="col-12">
              <mat-card style="height: 760px;">
                <h2>Main Taitle For The Visualisation</h2>
                <mat-divider></mat-divider>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-11">

                      <div id="stackedChart" style="height: 600px; display: block; overflow: auto;">

                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
            <div style="margin-top: 20px;" class="row">
              <div class="col-6">
                <mat-card>
                  <h2>Main Taitle For The Visualisation</h2>
                  <div id="lineChart2" style=" height: 550px; display: block; overflow: auto;">

                  </div>
                </mat-card>
              </div>
              <div class="col-6">
                <mat-card>
                  <h2>Main Taitle For The Visualisation</h2>
                  <div id="InventoryChart" style=" height: 550px; display: block; overflow: auto;">

                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div  class="col-3">
        <mat-card style="height: 100%">
          <h3>
            <mat-tab-group >
              <mat-tab >
                <ng-template mat-tab-label>
                  <mat-icon>filter_alt</mat-icon>
                   Dimensions
                </ng-template>
                <mat-expansion-panel  class="mat-elevation-z0" >

                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title  class="click-head">
                      Date&Time Filters
                    </mat-panel-title>

                    <!-- <mat-panel-description class="pannel-desc">
                                Avarage Revenue By Rajaji Nagar (2019-2020)
                            </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <li class="filters1">
                    <ul class="submenu">
                      <li *ngFor="let menu of DateFilters; let i = index">
                        <input type="checkbox" class="mx-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Region
                    </mat-panel-title>
                    <!-- <mat-panel-description class="pannel-desc">
                              Avarage Revenue By Rajaji Nagar (2019-2020)
                          </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <li class="filters1">
                    <ul class="submenu">
                      <li *ngFor="let menu of DateFilters; let i = index">
                        <input type="checkbox" class="mx-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Category Code
                    </mat-panel-title>
                    <!-- <mat-panel-description class="pannel-desc">
                            Avarage Revenue By Rajaji Nagar (2019-2020)
                        </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <li class="filters1">
                    <ul class="submenu">
                      <li *ngFor="let menu of Category; let i = index">
                        <input type="checkbox" class="mx-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Schools
                    </mat-panel-title>
                    <!-- <mat-panel-description class="pannel-desc">
                          Avarage Revenue By Rajaji Nagar (2019-2020)
                      </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <li class="filters1">
                    <ul class="submenu">
                      <li *ngFor="let menu of SchoolsArr; let i = index">
                        <input type="checkbox" class="mx-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Fullfillment status
                    </mat-panel-title>
                    <!-- <mat-panel-description class="pannel-desc">
                        Avarage Revenue By Rajaji Nagar (2019-2020)
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <li class="filters1">
                    <ul class="submenu">
                      <li *ngFor="let menu of FullfillmentArr; let i = index">
                        <input type="checkbox" class="mx-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel>

                <mat-expansion-panel id="filters1" class="mat-elevation-z0 ">
                  <mat-expansion-panel-header class="grap-head dropDOwnFontColorStyle">
                    <mat-panel-title class="click-head">
                      Inventory status
                    </mat-panel-title>
                    <!-- <mat-panel-description class="pannel-desc">
                      Avarage Revenue By Rajaji Nagar (2019-2020)
                  </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <li>
                    <ul class="submenu">
                      <li *ngFor="let menu of inventoryArr; let i = index">
                        <input type="checkbox" class="mx-3" value="Car">
                        <a>{{ menu.value }}</a>
                      </li>
                    </ul>
                  </li>
                </mat-expansion-panel>
               <div class="container"> 
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 mt-3">
                    <button mat-button class="btnA btn-outline-warnings mx-3">Clear </button>
                    <button  mat-button class="btnA btn-mdb-color">Apply</button>
                  </div>
                 

                </div>
               </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  Mesures
                </ng-template>
                Content 2
              </mat-tab>
            </mat-tab-group>
          </h3>


        </mat-card>
      </div>
    </div>

  </div>
  <!-- </div> -->
</mat-sidenav-container>