.mat-drawer-container { flex: 1 1 auto; }

.header{
background-color:white;

}
// .main-sec{
//     margin-top: 5px;
// }
.logo{
height: 4em;
// margin-left: 180px;
}
.main-sec{
    display: flex;
}

.font{
    color:#0F3756;
}

.Icon{
    color: orange;
    
}
.primary{
background-color: white;
font-size:17px;
}
.secondary{
    background-color:#0F3756;
    color: white;
    font-size:17px;
}
.example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.example-icon {
    padding: 0 1px;
    color: rgb(88, 34, 34);
}
.btn-mdb-color {
    color: #fff;
    background-color: #0F3756 ;
}
.btn-outline-warnings {
    color: #0F3756 !important;
    background-color: transparent !important;
    border: 2px solid #0F3756 !important;
}
.btnA {
        height: 43px;
        width: 118px;
}


li{
   
    display:block;  
}
 .abcd li{
     display: inline;
     padding:2rem;
     color: #0F3756;
     
 }
#abcde{
    margin: 0 auto;
  text-align: center;
 }


::ng-deep .mat-expansion-panel{
    display: none;
}
.dropDOwnFontColorStyle{
    color: black;
}
.mat-expansion-indicator {
    position: absolute;
    left: 15px;
  }

.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}
// style for center of li elements in header
 .items li{
     display: inline;
     padding:2rem;
     color: #0F3756;
         float: left;
    font-size: 14px;
     
 }
#topnav{
    margin: 0 auto;
  text-align: center;
 }